@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: Arial, sans-serif;
}

@media (min-width: $screen-md-min) {
    footer div {
        width: auto;
    }
}