@import "common";

.thumbnail {
    background: lightblue;
}

.gallery, .photo-container, .photo-container .thumbnail {
    padding: 0;
    margin: 0;
    border: none;
}

.gallery .thumbnail img {}

.gallery .thumbnail {
    border: 1px rgb(255, 247, 247) solid;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
}

.single .thumbnail {
    margin: 0;
}

@media (min-width: $screen-md-min) {}