@import "common";

.thumbnail {
    background: lightblue;
}

.gallery, .photo-container, .photo-container .thumbnail {
    padding: 0;
    margin: 0;
    border: none;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    color: white;
}

.gallery .thumbnail img {}

.gallery .thumbnail {
    border: 1px rgb(255, 247, 247) solid;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
}

.single .thumbnail {
    margin: 0;
}

.next-prev {
    margin-top: 10px;
    text-align: center;
}

.instructions {
    text-align: center;
}

.actions {
    margin-top: 15px;
}

.facebook {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.collapsed {
    max-height: 1px;
    transition: max-height 300ms;
    overflow-y: hidden;

    &.show.gif {
        max-height: 180px;
    }

    &.show.share {
        max-height: 100px;
    }

    &.show.video {
        max-height: 160px;
    }

    &.show.email {
        max-height: 355px;
    }
}

@media (max-width: $screen-sm-min) {
    .collapsed {
        &.show.gif {
            max-height: 240px;
        }

        &.show.share {
            max-height: 100px;
        }

        &.show.video {
            max-height: 200px;
        }

        &.show.email {
            max-height: 535px;
        }
    }
}